/* global part */

header {
    width: 90vw;
    margin: 0 auto
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Mulish", sans-serif;
}

/* test */
.test-bg-one {
    background-color: red;
}

.test-bg-two {
    background-color: blue;
}

/* var */
:root {
    /* --color-one: #131318; */
    /* --color-two: #FF5400;
    --color-three: #424247;
    --color-four: #FFFFFF;
    --color-five:  rgba(19, 19, 24, 0.50);;
    --font-mulish: "Mulish", sans-serif;
    --bg-one: #FF5400 */
}

nav{display: flex;
    justify-content:space-between;
    align-items: center;

}

.logo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.menu{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.menu>ul{
    display: flex ;
}
.menu>ul>li{
    list-style-type: none;
    margin-left: 20px;
}
.menu he{
    list-style-type: none;
    margin-left: 20px;
}

.menu .hameburg{
    display: none;
}





/* responsive */

@media only screen and (max-width: 600px) {

   



}